%h1.text-center Listing profiles
-#margin-left: 25%, margin-right: 25%
%table{align: 'center', cellpadding: '20px'}
  %thead
    %tr
      %th Avatar
      %th First name
      %th Second name
      %th User_id
      %th
      %th
      %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= image_tag profile.avatar.url, alt: 'Cinque Terre', width: '150', height: '150'

        %td.h2= profile.first_name
        %td.h2= profile.second_name
        %td.h2= profile.user_id
        %td.h2= link_to 'Show', profile
        -#%td= link_to 'Edit', edit_profile_path(profile)
        -#%td= link_to 'Destroy', profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-#= link_to 'New Profile', new_profile_path


