%h3.text-center NEWS
.card
  - if @user.followees(User).count == 0
    %h3.text-center Новостей нет
  - else
    .card
      - Post.where(user_id: @user.followees(User).pluck(:id)).each do |post|
        .text-center
          .card
            %p= link_to("#{post.user.first_name} #{post.user.second_name}", user_path(post.user))
            %p= image_tag post.image
            .card-block
              %h4.card-title= post.name
              %p.card-text= post.description
              %p= post.created_at
              %p= post.user.first_name
              %a.btn.btn-primary{href: post_path(post.id)} Show