%h3.text-center NEWS
.card{style: 'width: 70rem'}
  - if current_user.followees(User).count == 0
    %h3.text-center Новостей нет
  - else
    .card
      - Post.where(user_id: current_user.followees(User).pluck(:id)).each do |post|
        %a.text-center.thumbnail{href: post_path(post.id)}
          %p= image_tag post.image
        %p.account-name= link_to("#{post.user.first_name} #{post.user.second_name}", user_path(post.user))
        .card-block
          -#= render partial: 'posts/like_button', locals: {post: post}
          .like_button
            - if current_user.likes?(post)
              = link_to unlikes_post_path(post), method: :post, remote: true do
                %i.glyphicon.glyphicon-star
            - else
              = link_to likes_post_path(post), method: :post, remote: true do
                %i.glyphicon.glyphicon-star-empty
            = post.likers(User).count

        %p.timestamp= post.created_at.strftime("%-d %B %Y, %H:%M:%S")
        %h4.card-title= post.name
        %p.card-text= post.description

        .row
          .col-sm-12
            %h2 User Comment
        - Comment.where(post_id: post.id).each do |comment|
          .row
            .col-sm-2
              %img= image_tag comment.user.avatar.url
            .col-sm-5
              .panel.panel-default
                .panel-heading
                  %strong= link_to("#{comment.user.first_name} #{comment.user.second_name}", user_path(comment.user))
                  %span.text-muted #{comment.created_at.strftime("%-d %B %Y, %H:%M:%S")}
                .panel-body
                  = comment.text

        %h5 Add a comment:
        = form_for([post, post.comments.build]) do |f|
          %p
            = f.label :text
            %br/
            = f.text_area :text
          %p
            = f.submit

