%h1 Users Search
= form_for search_user_path, method: :get do |f|
  %p
    = f.label "Search for"
    = text_field_tag :q, params[:q]
    = submit_tag "Go", name: nil
%ul
  - @users.each do |user|
    %li
      %h3
        = link_to user.try(:highlight).try(:second_name) ? user.highlight.second_name[0].html_safe : user.second_name, |
          controller: "users",                                                                             |
          action: "show",                                                                                     |
          id: user._id
      - if user.try(:highlight).try(:second_name)
        - user.highlight.second_name.each do |snippet|
          %p
            = snippet.html_safe
            \...
