%link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", :rel => "stylesheet"}
-# так надо
.container
  .row.news
    .col-sm-12.news{id: "post-comments-#{post.id}"}
      %h2 Users Comments
      = link_to 'Load more', post_comments_path(post, page: 2), remote: true, class: 'load-more'
      .comments_block
        - post.comments.order(:created_at).last(3).each do |comment|
          = render 'posts/comment', comment: comment


    .news
      %h5 Add a comment:
      = form_for [post, post.comments.build], remote: true do |f|
        %p
          = f.text_area :text
        %p
          = f.submit
