%h1.text-center Listing posts

%table{align: 'center', cellpadding: '20px'}
  %thead
    %tr
      %th.text-center Image
      %th.text-center Name
      %th.text-center Description
      %th
      %th
      %th

  %tbody

    - @posts.each do |post|
      %tr
        %td= image_tag post.image.thumb
        %td= post.name
        %td= post.description
        %td= link_to 'Show', post
        -#%td= link_to 'Edit', edit_post_path(post)
        -#%td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br
-#- if current_user = profile.user
= link_to 'New Post', new_post_path
