%link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", :rel => "stylesheet"}
-# так надо
.container
  .card.card-news{style: 'width: 70rem'}
    .news
      %p.text-center
        = image_tag @post.image
      .row
        .news{style: 'display: inline-block'}
          .img-img2= image_tag("#{@post.user.avatar.url}", class: 'img-img2')
          %a.account-name= link_to("#{@post.user.first_name} #{@post.user.second_name}", user_path(@post.user))
      %p
        %b Description:
        = @post.description
      - if current_user.id == @post.user.id
        %td= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Edit', edit_post_path(@post)

      .like_button{class: "post-like-#{@post.id}"}
        - if current_user.likes?(@post)
          = link_to unlikes_post_path(@post), method: :post, remote: true do
            %i.fa.fa-heart
        - else
          = link_to likes_post_path(@post), method: :post, remote: true do
            %i.fa.fa-heart-o
        = @post.likers(User).count

      %p.timestamp #{@post.created_at.strftime('%-d %B %Y, %H:%M:%S')}

    #com{class: "com-#{@post.id}"}
      = render 'comments', post: @post
    -#.row
    -#  .col-sm-12.news
    -#    %h2 Users Comments
    -#    - @post.comments.each do |comment|
    -#      .row
    -#        .col-sm-2
    -#          %img= image_tag comment.user.avatar.url
    -#        .col-sm-5
    -#          .panel.panel-default
    -#            .panel-heading
    -#              %strong= link_to("#{comment.user.first_name} #{comment.user.second_name}", user_path(comment.user))
    -#              %span.text-muted #{comment.created_at.to_date}
    -#            .panel-body
    -#              = comment.text

    -#- @post.comments.each do |comment|
    -#  %p
    -#    %strong Commenter:
    -#    = comment.post.user.first_name
    -#    = comment.post.user.second_name
    -#  %p
    -#    %strong Comment:
    -#    = comment.text

    -#.news
    -#  %h5 Add a comment:
    -#  = form_for([@post, @post.comments.build]) do |f|
    -#    %p
    -#      = f.text_area :text
    -#    %p
    -#      = f.submit


