%p#notice= notice

%p
  %b Name:
  = @post.name

%p
  %b Image:
  = image_tag @post.image


%p
  %b Description:
  = @post.description
- if current_user.id == @post.user.id
  %td= link_to 'Destroy', @post, :method => :delete, :data => { :confirm => 'Are you sure?' }

.like_button
  - if current_user.likes?(@post)
    = link_to('Unlike', unlikes_post_path(@post), method: :post, remote: true)
  - else
    = link_to('like', likes_post_path(@post), method: :post, remote: true)
-#= render "comments/form"
-#= link_to('like', like_post_path(@post), method: :post, remote: true)


%h2 Comments
- @post.comments.each do |comment|
  %p
    %strong Commenter:
    = comment.user_id
  %p
    %strong Comment:
    = comment.text


%h5 Add a comment:
= form_for([@post, @post.comments.build]) do |f|
  %p
    = f.label :text
    %br/
    = f.text_area :text
  %p
    = f.submit

- if current_user.id == @post.user.id
  = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', profile_path(current_user.profile.id)
- else
  = link_to 'Back', profile_path(current_user.profile.id)
