!!!
%html
  %head

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Servis
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


%body.header-bg
  %nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    - if current_user
      = link_to 'SERVIS', profile_path(current_user.profile.id), class: 'navbar-brand h4'
    - else
      = link_to 'SERVIS', root_path, class: 'navbar-brand h4'
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto

        -#%li.nav-item
          -#= link_to 'Profile', posts_path, class: 'navbar-brand h4'
          -#%a.nav-link.h4{:href => "http://localhost:3000/profiles"} Profile/posts
        - if current_user
          %li.nav-item.active
            = link_to 'Posts', posts_path, class: 'navbar-brand h4'
            %span.sr-only (current)
          %li.nav-item
            = link_to 'Profile', profile_path(current_user.profile.id), class: 'navbar-brand h4'

          -#%li.nav-item
          -#  = link_to 'Sign out', destroy_user_session_path, class: 'navbar-brand h4'
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Sign up', new_user_registration_path, class: 'navbar-brand h4'

            %li= link_to 'Login', new_user_session_path, class: 'navbar-brand h4'

      -#%form.form-inline.my-2.my-lg-0
      -#  %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
      -#  %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
  = yield
